body {
	background-color: #7A4E4E;
}

.name{
	font-size: 35px;
	color: #971818
} 

h3{
	font-family: sans-serif;
	font-size: 20px;
	color: #971818;
}

a{
	color: #971818;
}

hr {
  border-style: none;
  border-top-style: dashed;
  border-color: #971818;
  border-width: 5px;
  width: 80%;
}